.home {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    /* background-color: #333; */
}

.main-layout .wrapper-main-layout {
    background-color: #fff;
    position: absolute;
    top: 2rem;
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
    border-radius: 15px;
    font-size: 2.2rem;
    font-weight: 500;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.wrapper-item-main-bar {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 5rem;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.wrapper-item-main-bar:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.wrapper-item-main-bar i {
    margin-right: 1rem;
}

.container-page-products {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 2rem;
    bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    overflow: hidden;
}

.title-header-products {
    font-size: 2.5rem;
    font-weight: 600;
    color: green;
}

.header-page-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.wrapper-item {
    padding: 1rem 0;
}

.header-page-products .wrapper-item-left {
    display: flex;
    flex-direction: row;
}

.header-page-products .wrapper-item-right {
    display: flex;
    flex-direction: row;
}

.container-products {
    background-color: #fff;
    z-index: 2;
    width: 100%;
}

.modal-add-new-product {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.close-modal-add-product {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0.5;
    font-size: 2.5rem;
    cursor: pointer;
}

.inside-modal-add-product {
    background-color: #fff;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    max-width: 80%;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 0;
}

.wrapper-input-add-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.wrapper-item-input {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-right: 2rem;
}

.wrapper-item-input-file {
    display: flex;
    flex-direction: column;
}

.border-img {
    border: .3px solid #333;
    border-radius: 8px;
    width: max-content;
}

.wrapper-item-input label {
    opacity: 0.5;
    font-size: 2rem;
    font-weight: 600;
}

.wrapper-item-input input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    outline: none;
    height: 2.5rem;
}

.wrapper-item-input select {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    outline: none;
    height: 2.9rem;
    font-size: 1.2rem;
}

.wrapper-item-input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 15rem;
    cursor: pointer;
    margin-left: 2rem;
    color: red;
}

.wrapper-item-input .input-file {
    display: none;
    background-color: #333;
}

.wrapper-item-input .wrapper-orther {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper-orther input {
    width: 100%;
}

.wrapper-orther i {
    justify-self: flex-end;
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.container-products {
    background-color: transparent;
}

.header-container-products {
    display: flex;
    flex-direction: row;
    background-color: #fafafb;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 0;
}

.scroll-bar-products {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50rem;
}

.scroll-bar-products::-webkit-scrollbar {
    width: 0;
}

.scroll-bar-products .wrapper-content-products {
    margin-bottom: 15rem;
}

.scroll-bar-addmulti {
    overflow-y: scroll;
    height: 40rem;
    margin-right: 2rem;
}


.scroll-bar-addmulti::-webkit-scrollbar {
    width: 0;
}

.wrapper-content-products .item-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid #dfdfe4;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.item-product:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    transform: scaleY(1.03);
}

.item-product .wrapper-image-product {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-product .wrapper-image-product img {
    width: 30%;
    height: 80%;
    border-radius: 1rem;
}

.header-product-list {
    text-align: center;
}

.wrapper-input-file-add {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.wrapper-orther-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.orther-icon {
    position: relative;
    background-color: #333;
    margin-right: .5rem;
    padding: 2px 1.3rem;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
}

.orther-icon i {
    position: absolute;
    right: -3px;
    top: -3px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    padding: 0 3px;
    cursor: pointer;
}

@keyframes scaleImage {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}