.home {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
}

.main-layout {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 23%;
}

.main-layout .wrapper-main-layout {
    background-color: #fff;
    position: absolute;
    top: 3rem;
    left: 3rem;
    bottom: 3rem;
    right: 3rem;
    border-radius: 15px;
    font-size: 2.2rem;
    font-weight: 500;
}

.wrapper-item-main-bar {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    height: 5rem;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.wrapper-item-main-bar:hover {
    background-color: rgb(46, 221, 46);
}

.wrapper-item-main-bar i {
    margin-right: 3rem;
}

.container-page-products {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.title-header-products {
    font-size: 2.5rem;
    font-weight: 600;
    color: green;
}

.header-page-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.header-page-products .wrapper-item-left {
    display: flex;
    flex-direction: row;
}

.header-page-products .wrapper-item-right {
    display: flex;
    flex-direction: row;
}

.container-products {
    background-color: #fff;
    z-index: 2;
    width: 100%;
    margin-top: 3rem;
}

.modal-add-new-product {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.close-modal-add-product {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0.5;
    font-size: 2.5rem;
    cursor: pointer;
}

.close-modal-add-multi-product {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.5;
    font-size: 2.5rem;
    cursor: pointer;
}

.inside-modal-add-product {
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    max-width: 80%;
    border-radius: 10px;
    padding: 2rem;
    padding-right: 0;
}

.wrapper-input-add-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.wrapper-item-input {
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-right: 2rem;
}

.wrapper-item-input label {
    opacity: 0.5;
    font-size: 2rem;
    font-weight: 600;
}

.wrapper-item-input input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    outline: none;
    height: 2.3rem;
}

.container-products {
    background-color: transparent;
}

.header-container-products {
    display: flex;
    flex-direction: row;
    background-color: #fafafb;
    /* background-color: #333; */
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem 0;
}

.wrapper-content-products {}

.wrapper-content-products .item-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 1px solid #dfdfe4;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #fff;
    font-size: 1rem;
}

.item-product .wrapper-image-product {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-product .wrapper-image-product img {
    width: 40%;
    height: 80%;
    border-radius: 1rem;
}

.header-product-list {
    text-align: center;
}