.component-general {
    margin-left: 25%;
    margin-top: 2rem;
}

.tabs-new_music {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.tab-music {
    border-radius: 10px;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    margin: 0.5rem;
    margin-left: 0;
    font-size: 1.6rem;
    color: white;
}

.btn-new {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.title-header {
    font-size: 2.5rem;
    font-weight: 600;
    color: green;
    margin-top: 3rem;
    font-weight: 900;
}